<% include common/top.ejs %>
<form class="form-signin" id="login-form" role="form">
    <h2 class="form-signin-heading">Please sign in</h2>
    <input type="email" class="form-control" id="emailId" name="emailId" placeholder="emailid">
    <input type="password" class="form-control" id="password" name="password" placeholder="password">
    <a class="btn-outline" style="margin-top:5px;" onclick="doSignin()">Sign in</a>
</form>
<% include common/bottom.ejs %>