<% include common/top.ejs %>
<% var status = data.data.status;
var descript = data.data;
%>
<div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
        <% include common/left-sidebar.ejs %>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main ">
        <h1 class="page-header">Medicine Description</h1>
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success" style="display:none">
                    <strong>Success!</strong> Raw Food added successfully..
                </div>
                <form role="form" class="form-inline addRawFoodFrm pull-left" method="post">
                    <div class="form-group" >
                    </div>
                    <div class="form-group">
                        <label for="MedicineName">Medicine name</label>
                        <input type="text" class="form-control" name="Medicine name" required>
                        <label for="description">description</label>
                        <input type="text" class="form-control" name="description" required>
                    </div>
                    <input type="submit" name = "addBtn" value="Add"  class="btn-outline pull-right">
                </form>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Medicine name</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <% if(descript.length >0){
                for(var i = 0 ;i<descript.length ; i++){ %>
                <tr>
                    <td width="10%"><%=descript[i].medicineName%></td>
                    <td width="25%" id="rawFoodName"><%=descript[i].description%></td>
                    <td width="10%"><div class="pull-right"><a href="#" class="editRawFood">Edit</a></div></td>
                    <td width="10%"><div class="pull-right"><a href="#" onclick="deleteRawFood(<%=descript[i]%>)">Delete</a></div></td>
                </tr>
                <%} %>

                <%} else{%>
                <tr>
                    <td colspan="8">No data found</td>
                </tr>
                <%}%>

                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-md-2 "></div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main ">
            <% include common/bottom.ejs %>
        </div>

    </div>
</div>
