<div class="footer">
    <p>&copy; Medics</p>
</div>
</div> <!-- /container -->
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/assets/javascripts/jquery-2.1.1.min.js"></script>
<script src="/assets/javascripts/bootstrap.min.js"></script>
<!-- <script src="/assets/js/docs.min.js"></script> -->
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/assets/javascripts/ie10-viewport-bug-workaround.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap-multiselect.js"></script>
<script src="/assets/javascripts/bootstrap-switch.min.js"></script>

<link href="/assets/stylesheets/star-rating.min.css" media="all" rel="stylesheet" type="text/css" />
<script src="/assets/stylesheets/star-rating.min.js" type="text/javascript"></script>
<script src="//cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="/assets/javascripts/bootstrap-datepicker.js"></script>
<script src="/assets/javascripts/global.js"></script>
<script src="/assets/javascripts/<%=page %>.js"></script>
</body>
</html>