<ul class="nav nav-sidebar">
	<li class="<% if (page == 'home'){%>active<%}else{}%>"><a href="/home" >Home</a></li>
	<li class="<% if (page == 'users'){%>active<%}%>"><a href="/users">Users</a></li>
	<li class="<% if (page == 'ingredients'){%>active<%}%>"><a href="/ingredients">Manage Prescription
	<li class="<% if (page == 'rawFood'){%>active<%}%>"><a href="/rawFood">Medicines description
	<li><a href="javascript:void(0);" onclick="logout()">Logout</a></li>
</ul>